<div class="center log-container">
  {% if request.user.is_authenticated %}
    <div class="center">
      <p>
        Logged with 
        <a href="{% url "authors:dashboard" %}">
          <b>{{ request.user.username }}</b>. 
        </a>
      </p>
      <form action="{% url "authors:logout" %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ request.user.username }}">
        <button type="submit" class="header-link">
          <b>Logout</b>
          <i class="fa-sharp fa-solid fa-right-from-bracket"></i>
        </button>
      </form>
    </div>
  {% else %}
    <div class="center">
      <p>
        <a class="header-link" href="{% url "authors:login" %}">
          <b>Login</b>
          <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
        </a>
      </p>
      <p>
        <a class="header-link" href="{% url "authors:login" %}">
          <b>Create account</b>
          <i class="fa-sharp fa-solid fa-cookie-bite"></i>
        </a>
      </p>
    </div>
  {% endif %}
</div>