{% if recipes.has_other_pages %}
  <nav
    role="navigation"
    aria-label="pagination"
    class="container pagination"
  >

    <div class="pagination-content">
      {% if pagination_range.first_page_out_of_range %}
        <a
          href="?page=1{{ additional_url_query }}"
          class="page-link page-item"
          area-label="Go to page 1"
        >
          1.. <i class="fa-solid fa-backward"></i>
        </a>
      {% endif %}
      {% for page in pagination_range.pagination %}
        {% if pagination_range.current_page == page %}
          <spam
            class="page-link page-item current-page"
            area-label="Current page {{ page }}"
          >
            {{ page }}
          </spam>
        {% else %}
          <a
            href="?page={{page}}{{ additional_url_query }}"
            class="page-link page-item"
            area-label="Page {{ page }}"
          >
            {{ page }}
          </a>
        {% endif %}
      {% endfor %}
      {% if pagination_range.last_page_out_of_range %}
        <a
          href="?page={{ pagination_range.total_pages }}{{ additional_url_query }}"
          class="page-link page-item"
          area-label="Go to last page"
        >
          <i class="fa-solid fa-forward"></i> ..{{ pagination_range.total_pages }}
        </a>
      {% endif %}
    </div>
  </nav>
{% endif %}