{% extends "global/base_template.html" %}

{% block content %}
<div class="main-content container main-content-list">
  {% include "calories_counter/partials/recipe.html" %}
  {% include "calories_counter/partials/recipe.html" %}
  {% include "calories_counter/partials/recipe.html" %}
  {% include "calories_counter/partials/recipe.html" %}
  {% include "calories_counter/partials/recipe.html" %}
  {% include "calories_counter/partials/recipe.html" %}
  {% include "calories_counter/partials/recipe.html" %}
  {% include "calories_counter/partials/recipe.html" %}
</div>
{% endblock content %}
