{% extends "global/base_template.html" %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
  <div class="container">
    <div class="main-content container">
      <h2>Dashboard: <u>{{ user }}</u></h2>
      <a 
        href="{% url "authors:dashboard_recipe_create" %}"
        class="simple-button new-recipe-button"
        >
        <i class="fa-solid fa-plus"></i>
        New recipe
      </a>
      {% include "global/partials/messages.html" %}

    </div>
    <div class="center container authors-dashboard-container">
      <h3>Your recipes</h3>

      <ul>
        {% for recipe in recipes %}
          <li>
            <a href="{% url "authors:dashboard_recipe_edit" recipe.id %}">
              {{ recipe.title }}
            </a>
          </li>
        {% empty %}
          <li>
            <p>You haven't written any recipes yet.</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}