{% extends "global/base_template.html" %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
  <div class="main-content center container">
    <h2>Login</h2>
  </div>
  {% include 'global/partials/messages.html' %}
  {% if request.user.is_authenticated %}
    <div class="main-content center container">
      <p>
        You are logged in with
        <b>{{ request.user.username }}</b>, 
        to logout click
      </p>
        <form action="{% url "authors:logout" %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="username" value="{{ request.user.username }}">
          <button type="submit" class="plaintext-button">
            here.
          </button>
        </form>
    </div>
  {% else %}
    {% include "global/partials/form.html" %}
  {% endif %}
{% endblock content %}