<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Theory</title>
</head>

<body>
  <h1>Theory</h1>
  <br>

  <h2>There are <u>{{ number_of_recipes }}</u> Recipes.</h2>

  <div>
    <h3>Recipes</h3>
    <ul>
      {% for recipe in recipes %}
        <li>
          {{recipe.id}} - {{ recipe.title }} - {{ recipe.author }}
        </li>
      {% empty %}
        Have no recipes.
      {% endfor %}
    </ul>
  </div>
  <br>
  <div>
    <h3>Simple Recipes</h3>
    <ul>
      {% for recipe in simple_recipes %}
        <li>
          {{recipe.id}} - {{ recipe.title }} - {{ recipe.author__first_name }}
        </li>
      {% empty %}
        Have no simple recipes.
      {% endfor %}
    </ul>
  </div>

  <div>
    <h2>Novo campo de full name</h2>
    <ul>
      {% for data in novo_campo %}
        <li>
          {{data.author_full_name}}
        </li>
      {% empty %}
        Have no names.
      {% endfor %}
    </ul>
  </div>
</body>
</html>